#div-languages {
    font-family: monospace; font-weight: bold; font-size: 10pt; background-color: white;
}
body {
    margin:0; padding:0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
            table.stat-data {
            border-collapse: collapse;    
            }
            table.stat-data, th.stat-data, td.stat-data {
            border: 1px solid black;
            }