div#printarea {
    width: 20cm;
    height: 29cm;
}

div#printsectionleft {
    width: 50%;
    border-right:black dashed 2px;
    border-bottom: black dashed 2px;
    float: right;
}
div#printsectionright {
    width: 50%;
    border-bottom: black dashed 2px;
    float: left;
}