.div-biglist-border {
    border:solid black 1px;
    margin: -1px;
}
.div-biglist-border1 {
    border:solid black 1px;
}
#div-biglist-common {
    font-family: monospace;
    font-size: 10pt;
}
.div-biglist-nameheader {
    width:100%;
    font-weight:bold;
}
.div-biglist-alldates {
    
    margin-left: 30px;
}
.div-biglist-date {
    width:19.9%;
    float:left;
}
.div-biglist-row {
    width:100%;
}
.div-biglist-singletime {
    width:50%;
    float:left;
    min-width: 61px;
}
.div-biglist-border-fix{
    
}