.aggregatedtable-goodborder {
    border-collapse: collapse;
    border: 1px solid black;
}
.aggregatedtable-noentries {
    background-color: lightgray;
}
.aggregatedtable-th, .aggregatedtable-td {
    font-size: 12px;
    font-family: monospace;
    min-width: 82px;
}
.aggregatedtable-th-holiday, .aggregatedtable-td-holiday {
    background-color: pink;
}