<html>
    <head>
        <meta charset="UTF8">
        <title> {{ localizedmessages['header']|default('SM_NM Scanner') }} </title>
    </head>
    <body>
        {% include 'commonbar.twig' %}
        <h4> {{ localizedmessages['optscaption']|default('Settings page') }} </h4>
        
    </body>
</html>